/cerro_saroche/MOD13Q1_V6/**
/cerro_saroche/cdsapi/**
/cerro_saroche/data/**
/cerro_saroche/ndvi/**
/cerro_saroche/polygons/**
/cerro_saroche/SRTMGL3/**

/terepaima/MOD13Q1_V6/**
/terepaima/cdsapi/**
/terepaima/data/**
/terepaima/ndvi/**
/terepaima/polygons/**
/terepaima/SRTMGL3/**

/venezuela/ndvi/**
/venezuela/polygons/**

/MOD13Q1/**
/env/**
/SRTMGL3/**
config.yml